<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript"　src="../interview.js"></script>
  </head>
  
  <body> 
    <div class="choose_box">

    <!-- 最初の選択肢 -->
    <div id="q_01" class="fit">
      <p>質問1</p>
      <p>朝の目覚めは？</p>
      <ul class="flexbox fw">
      <li class="even"><a class="btn" href="#q_02" data-value="a" >気持ちいい</a></li>
      <li class="odd"> <a class="btn" href="#q_02" data-value="b" >普通</a></li>
      <li class="odd"> <a class="btn" href="#q_02" data-value="c" >悪い</a></li>
      </ul>
      </div>
      
      <!-- 次の選択肢 -->
      <div id="q_02" style="display: none;">
      <p>質問2</p>
      <p>布団に入ってから眠るまでの時間は？</p>
      <ul class="flexbox fw">
      <li class="even"><a class="btn" href="#q_03" data-value="a" >10分以下</a></li>
      <li class="odd"> <a class="btn" href="#q_03" data-value="b" >10分〜30分</a></li>
      <li class="odd"> <a class="btn" href="#q_03" data-value="c" >30分以上</a></li>
      </ul>
      </div>
    
      <!-- 次の選択肢 -->
      <div id="q_03" style="display: none;">
      <p>質問3</p>
      <p>夜中目が覚める回数は？</p>
      <ul class="flexbox fw">
        <li class="even"><a class="btn" href="#q_04" data-value="a" >0回</a></li>
        <li class="odd"> <a class="btn" href="#q_04" data-value="b" >1回〜2回</a></li>
        <li class="odd"> <a class="btn" href="#q_04" data-value="c" >3回以上</a></li>
      </ul>
      </div>

      <!-- 次の選択肢 -->
      <div id="q_04" style="display: none;">
      <p>質問4</p>
      <p>日中の眠気は？</p>
      <ul class="flexbox fw">
        <li class="even"><a class="btn end" href="#q_05" data-value="a" >全くない</a></li>
        <li class="odd"> <a class="btn end" href="#q_05" data-value="b" >時々ある</a></li>
        <li class="odd"> <a class="btn end" href="#q_05" data-value="c" >ある</a></li>
      </ul>
      </div>

      <!-- ここから以下回答 -->
      <!-- 回答　答え① -->
      <div id="answer_01" style="display: none;">
          <p>あなたに睡眠は…</p>
          <h4>とても良いです</h4>
          <h4>これからも良い睡眠習慣を維持しましょう！</h4>

          <div class="return-btn">
            <a class="btn" href="/" data-turbolinks="false" >もどる</a>
          </div>
      </div>

      <!-- 回答　答え② -->
      <div id="answer_02" style="display: none;">
          <p>あなたの睡眠は…</p>
          <h4>良いです</h4>
          <h4>さらに良い睡眠習慣を目指しましょう！</h4>
          <h4>寝る前に２時間はリラックスできる時間を増やしましょう</h4>

          <div class="return-btn">
            <a class="btn" href="/" data-turbolinks="false" >もどる</a>
          </div>
      </div>
        
      <!-- 選択肢の答え③ -->
      <div id="answer_03" style="display: none;">
          <p>あなたの睡眠は…</p>
          <h4>悪いです</h4>
          <h4>夜にブルーライトの光を浴びない</h4>
          <h4>朝散歩することで改善を目指しましょう</h4>

          <div class="return-btn">
            <a class="btn" href="/" data-turbolinks="false" >もどる</a>
          </div>
      </div>

  　</div>
  </body>
</html>