<div class="chat-header">
 <div class="left-header">
    <div class="header-title">
      <%= '睡眠診断(全4問)' %>
         <%# <%= @menu.name %> 
    </div>
  </div>
  <div class="right-header">
  <% if current_user.admin?  %>
    <div class="header-button">
      <%# <a href="#">Menuを終了する</a> %>
      <%# <%= link_to "Menuを終了する", menu_path(@menu), method: :delete %> 
    </div>
  <% end %>
  </div>
</div>

<div class="messages">
  <%= render partial: 'interview2' %>
</div>


<%# <div class="form">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
  </div>
  <input class="form-submit" type="submit" value="送信">
</div> %>