<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name , edit_user_path(current_user) %>
  </div>
  <% if current_user.admin?  %>
  <div class="create-menu">
    <%= link_to "menuを作成する", new_menu_path %>
  </div>
  <% end %>
</div>

<div class="menus">
      
<%# <% current_user.menus.each do |menu| %> 
  <div class="menu">
    <div class="menu-name">
      <a href="#">睡眠診断</a> 
      <%# <%= link_to menu.name, menu_diagnoses_path(menu) %> 
    </div>
  </div>
  <%# <% end %> 
</div>
